@using VRP.MVC.Models.Procedures;
@model RequestedProcedure
@Html.Partial("StepperPartialView", Model)
@if (Model != null)
{
    <div class="mb-3">
        <div class="d-flex">
            <h4>
                Xác thực thông tin chủ xe
            </h4>
            @if (Model.StatusProcudure == 1)
            {
                <span class="mt-2 ms-1" style="color: green">(đã xác nhận)</span>
            }
        </div>
        <div class="ms-4 me-4">
            <p><b>Họ và tên: </b>@Model.UserInformationProcedure.FirstName @Model.UserInformationProcedure.MidlleName @Model.UserInformationProcedure.LastName</p>
            <p><b>Ngày tháng năm sinh: </b>@Model.UserInformationProcedure.DateOfBirth.ToString("dd/MM/yyyy")</p>
            <p><b>CMND/CCCD: </b>@Model.UserInformationProcedure.CitizenId - <b>Ngày cấp: </b>@Model.UserInformationProcedure.CitizenIssuanceDate.ToString("dd/MM/yyyy") - <b>Nơi cấp: </b>@Model.UserInformationProcedure.CitizenIssuanceLocation</p>
            <p><b>Số điện thoại: </b>@Model.UserInformationProcedure.PhoneNumber</p>
            <p><b>Email: </b>@Model.UserInformationProcedure.Email</p>
            <p><b>Địa chỉ: </b>@Model.UserInformationProcedure.Street, @Model.UserInformationProcedure.CommuneName, @Model.UserInformationProcedure.DistrictName, @Model.UserInformationProcedure.CityName</p>
        </div>
    </div>
    @if (Model.StatusProcudure == 1)
    {
        <div>
            <div style="background: #cccc; border-radius: 5px" class="p-4">
                <h4>
                    Xác thực thông tin xe
                </h4>
                <form>
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label class="form-label">Số máy (Engine N0) *</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="mb-3 col-6">
                            <label class="form-label">Số khung (classis N0) *</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="mb-3 col-6">
                            <label class="form-label">Loại xe *</label>
                            <select class="form-select">
                                <option selected>Open this select your district</option>
                            </select>
                        </div>
                        <div class="mb-3 col-6">
                            <label class="form-label">Màu sơn *</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label class="form-label">Nhãn hiệu *</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="mb-3 col-6">
                            <label class="form-label">Số loại *</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label class="form-label">
                                Ảnh xe (hướng dẫn chọn ảnh 
                                <i class="fa-solid fa-circle-info btn" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>)
                            </label>
                            <input type="file" class="form-control" />
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        ...
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Send request</button>
                </form>
            </div>

        </div>
    }
}