@using VRP.MVC.Models.Procedures;
@model UserInformationProcedure
@Html.Partial("StepperPartialView")
<h4>Xác thực thông tin chủ xe</h4>
<div class="ms-4 me-4">
    <p><b>Họ và tên: </b>@Model.FirstName @Model.MidlleName @Model.LastName</p>
    <p><b>Ngày tháng năm sinh: </b>@Model.DateOfBirth.ToString("dd/MM/yyyy")</p>
    <p><b>CMND/CCCD: </b>@Model.CitizenId - <b>Ngày cấp: </b>@Model.CitizenIssuanceDate.ToString("dd/MM/yyyy") - <b>Nơi cấp: </b>@Model.CitizenIssuanceLocation</p>
    <p><b>Số điện thoại: </b>@Model.PhoneNumber</p>
    <p><b>Email: </b>@Model.Email</p>
    <p><b>Địa chỉ: </b>@Model.Street, @Model.CommuneName, @Model.DistrictName, @Model.CityName</p>
</div>

<div>
    <button type="button" class="btn btn-success">Accept</button>
    <button type="button" class="btn btn-danger">Reject</button>
</div>